<div class="container">
	<%= @source.name %>
	<%= @source.url %>
	<%= @source.type.name %>
	<%= link_to 'back', sources_path %>
</div>
<div class="container">
	<%= link_to 'Edit', edit_source_path %>
</div>